<style>
    .side_bar {
        width: 5%;
        position: fixed;
        margin-top: 10%;
    }


</style>

<div class="w3-sidebar w3-bar-block side_bar">

  <a href="#" class="w3-bar-item w3-button">My pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
  <a href="#" class="w3-bar-item w3-button">All pepes</a>
  <br>
</div>
